@use "../../styles/variables.scss" as v;

.button{
  background: v.$color-gray-10;
  border: 0;
  padding: 1rem;
  border-radius: v.$border-radius;
  cursor: pointer;
  span{
    display: grid;
  }
}
