@use "../../styles/variables.scss" as v;

.button{
  background: v.$color-gray-10;
  border: 0;
  padding: 1rem;
  border-radius: v.$border-radius;
  cursor: pointer;
  span{
    display: grid;
  }
  &.button--secondary{
    background-color: v.$color-blue;
    color: v.$color-white;
  }
  &.button--full{
    width: 100%;
    font-size: v.$text-size-base;
  }
}
