@use "../../styles/variables.scss" as v;

.product-card{
  justify-content: space-between;
  text-decoration: none;
  color: v.$color-gray-80;
  font-size: v.$text-size-medium;
  >div{
    display: grid;
    gap: v.$spacing-small;
    >div{
      padding-top: 2rem;
    }
    a {
      text-decoration: none;
      color: v.$color-gray-80;
    }
    .product-card__info-price{
      span{
        font-size: v.$text-size-large;
        margin-right: 1rem;
      }
      @media #{v.$medium} {
        margin-bottom: v.$spacing-medium;
      }
    }
    @media #{v.$medium} {
      grid-template-columns: 18rem 1fr;
    }
  }
  >span{
    margin-top: 3.2rem;
    font-size: v.$text-size-xsmall;
    text-align: left;
  }
  @media #{v.$medium} {
    display: grid;
    grid-template-columns: 1fr 13rem;
  }
}
