@use "../../styles/variables.scss" as v;

.breadcrumbs{
  ol{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    li{
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;
      a{
        text-decoration: unset;
        color: v.$color-gray-40;
        &.breadcrumb__item--active{
          font-weight: 500;
        }
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
}
