@use "../../styles/variables.scss" as v;

.header{
  display: grid;
  justify-content: center;
  gap: 2rem;
  img{
    margin: 0 auto;
  }
  @media #{v.$medium} {
    grid-template-columns: 8rem 1fr;
    gap: 0;
    img{
      margin: unset;
    }
  }
}
