@use "../../styles/variables.scss" as v;

.header{
  display: grid;
  justify-content: center;
  gap: 2rem;
  @media #{v.$mobile} {
    a {
      display: flex;
      justify-content: center;
      img{
        object-fit: contain;
      }
    }
  }
  @media #{v.$medium} {
    grid-template-columns: 8rem 1fr;
    gap: 0;
    img{
      margin: unset;
    }
  }
}
